@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";
@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

@font-face {
    font-family: "Roboto";
    src: url("../../font/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Shrikhand";
    src: url("../../font/Shrikhand-Regular.ttf")  format('truetype');
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-left {
    display:flex;
    justify-content: left;
    align-items: center;
    
}

@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    transform: scale(1.15); 
}

@mixin button-style {
    opacity: 1;
    background: $gradient;
    color: white;
    padding: 0 20px;
    padding-bottom: 1em;
    padding-top: 1em;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    border: none;
}


body {
    font-family: "Roboto", serif;
    margin: 0;
    background: white;
    color:black;
}

* a {
    text-decoration: none;
    color: white;
}

h1,h2,h3,h4 {
    font-family: "Shrikhand", serif;
}

.ohmyfoodHead {
    @include flexbox-left;
    height: 100px;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
    position: relative;
    .fas{
        font-size: 2.5em;
        width: 30%;
    }
}



.titreMenu{
    font-size: 4em;
}

.typePlat{
    font-size: 3em;
    text-transform: uppercase;
    position: relative;
    font-weight: 400;
    &::after {
        content: '';
        width: 15%;
        height: 6px;
        background: $color-tertiary;
        position: absolute;
        z-index: 20;
        left: 0px;
        bottom: -8px;
    }
}

.restaurantImg{
    height: 33em;
    width: 100%;
    object-fit: cover;
}

.restaurant{
    transform: translateY(-10%);
    width: 100%;
    border-radius: 80px 80px 80px 80px;
    border: white solid 2px;
    background-color: white;
    box-shadow: 6px 6px 5px lightgrey;
    margin-bottom: 2em;
    .nomRestaurant{
        margin-left: 1.5em;
        @include flexbox-left;
        display: inline-flex;
        margin-top : 3em;
        margin-bottom: 1em;
        width: 100%;
        .titreMenu{
            width: 85%;
        }
        .fa{
            font-size: 3em;
            height: max-content;
        }
    }
    .blocCarte{
        @include flexbox-center;
        flex-direction: column;
        .entrees{
            width: 95%;
            .typePlat{
                font-size: 3em;
                margin-bottom: 1em;
            }
            .cardPlats{
                padding-left: 1em;
                border-radius: 40px 40px 40px 40px;
                border: white solid 2px;
                background-color: white;
                width: 100%;
                height: 10em;
                box-shadow: 6px 6px 5px lightgrey;
                margin-bottom: 2em;
                .descriptionPlat{
                    @include flexbox-center;
                    display: inline-flex;
                    width: 100%;
                    .legend{
                        width: 90%;
                        font-size: 2em;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    .prix{
                        width: 10%;
                        font-size: 2em;
                    }
                }
                .titreMenu{
                    font-size: 2em;
                    font-weight: bold;
                }
            }
        }
    }
    .blocBtn{ 
        @include flexbox-center;
        .btn{
            @include button-style;
            @include flexbox-center;
            width: 40%;
            margin-top: 2em;
            &:hover {
                @include button-hover;
            }
            p{
                font-size: 2em;
            }
        }
    }
    
}

.footer {
    width: 100%;
    background-color: #353535;
    @include flexbox-center;
    .blocFooter {
        display: inline;
        padding: 0 40px;
        width: 100%;
        max-width: 1200px;
        .logo {
            font-family: "Shrikhand", serif;
            color: white;
            font-size: 40px;
            font-weight: bold;
            padding: 15px 0;
        }
        .linksFooter {
            display: inline-flex;
            flex-direction: column;
            width: auto;
        }
        .linkFooter {
            display: inline-flex;
            align-items: center;
            flex-direction: row;
            text-align: center;
            color: white;
            height: 30px;
            cursor: pointer;
            &:hover .titleFooter {
                text-decoration: underline;
            }
            & i {
             margin-right: 7px;
            }
            .titleFooter {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
